<a href="https://colab.research.google.com/github/Mashrur001/CSE111-LECTURES/blob/main/1_Intro_to_OOP_Classes_and_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes and Objects
Topics to be covered:

**1.   OOP Intro**

(a) Classes (b) Objects (c) Inheritance (d) Polymorphism (e) Encapsulation (f) Abstraction
<br><br>

**2.   Classes**
*   Concept
*   Declaration
*   Attributes
*   Methods: Getters and Setters
*   Constructors
*   Class Variables
<br><br>


**3.   Objects**
*   Declaring Objects
*   Interacting With Constructor
*   Comparison Between Multiple Objects of the Same Class

In [ ]:
class Iphone:
  def __init__(self, n=0, m="nai", c="des na kere?"):
    self.model= m
    self.clr= c
    self.name=n
  def printSpecification(self):
    print(self.name, "Model:", self.model)
    print("Color:", self.clr)

ip13= Iphone(13, "Pro","Pink")
ip14= Iphone(14, "ProMax")
ip16= Iphone()
ip15= Iphone(15, c="MatteBlack")
ip13.printSpecification()
ip14.printSpecification()
ip16.printSpecification()
ip15.printSpecification()

13 Model: Pro
Color: Pink
14 Model: ProMax
Color: des na kere?
0 Model: nai
Color: des na kere?
15 Model: nai
Color: MatteBlack

In [ ]:
class Student:
  def __init__(self, closet_color="White", *bed_size):
    self.closet= closet_color
    self.bed= bed_size

  def cost_calc(self):
    calc=0
    if(self.closet=="White"):
      calc+= 1000
    else:
      calc+= 5000

    if(self.bed==None):
      calc+= 2000
    else:
      calc+= 6000 * len(self.bed)
    return calc


s1= Student("Yellow", "King")
s1.closet= "Yellow"
s1.bed= "King"
s2= Student("Black")
s2.closet= "Black"
s2.bed= "Queen"
s3= Student()
print(s1.closet)
print(s2.closet)
print(s3.closet)
print(s1.bed)
print(s2.bed)
print(s3.bed)
x= s1.cost_calc()
print(x)
y= s2.cost_calc()
print(y)
z= s3.cost_calc()
print(z)
s4= Student("Blue", "King", "Queen","Child")
print(s4.bed)
print(s4.cost_calc())

Yellow
Black
White
('King',)
()
()
11000
5000
1000
('King', 'Queen', 'Child')
23000

#TASK 1

In [ ]:
class Amira ():
  def tempChange (self,newTemp):
    self.existingTemp=newTemp
    print("New Temperature:", self.existingTemp)


#Driver Code
amira= Amira()
amira.tempChange(30)
amira.existingTemp=40
print("New Temperature:",amira.existingTemp)

jawad= Amira()
jawad.tempChange(21)
jawad.existingTemp=12
print("New Temperature:",jawad.existingTemp)
print(amira)
print(amira.existingTemp)
print(jawad)

New Temperature: 30
New Temperature: 40
New Temperature: 21
New Temperature: 12
<__main__.Amira object at 0x7f05c7da8310>
40
<__main__.Amira object at 0x7f05c7da83d0>

In [ ]:
class Amira ():
  #Your code here
#Driver Code
amira= Amira(24,50) #temperature,humidy
amira.tempChange(30)
amira.existingTemp=40
print("Temperature:",amira.existingTemp)

jawad= Amira(35)
print("Humidity:",jawad.existingHumidity)
jawad.humidityChange(21)
print("Humidity:",jawad.existingHumidity)
print(amira.existingTemp)

Output
Temperature: 30
Humidity: 40
Humidity: 21
35

**Class:**

A Building with an Infinite Amount of Flats
<br><br>
**Attributes:**

The structure and furniture inside of a specific flat. The structure and furniture are same for all the flats.
<br><br>
**Object:**

Key to of the flats. Different keys grant access to different flats of the same building (Class), but all flats are same in the attributes it contains.

Each object has its own reference. The reference of one object is different from the others. That is how Python distinguishes the attributes of different objects.
<br><br>

Now when you declare an object, you have access to one of the flats of the building. Imagine the refence of that flat is 2A. Now you have access to all the furnitures of the flat 2A. After getting access, you can make changes inside your flat according to your will, without changing the structure of the flat.

#TASK 2A

In [ ]:
class Building():

  #Class Method: Setter
  def temperature_increase(self):
    self.temp+=1
    print("New Temperature:", self.temp)

  def temperature_deccrease(self):
    self.temp-=1
    print("New Temperature:", self.temp)

  def humidity_change(self, given_humidity):
    self.humidity= given_humidity
    print("New Humidity:", self.humidity)

  #Class Method: Getter
  def what_color_are_my_walls(self):
    return self.wall_paint
  def temperature_humidity (self):
    return self.temp, self.humidity

#Driver Code
#Declaring Object
flat_2A= Building()
#Assigning values to the class variables
flat_2A.temp= 80
flat_2A.humidity= 0.5
flat_2A.wall_paint= "Yellow"

#Calling Setter Methods
flat_2A.temperature_increase()
flat_2A.temperature_deccrease()
flat_2A.humidity_change(0.35)

#Calling Getter Methods
print("Color of my walls are:", flat_2A.what_color_are_my_walls())
# Tuple Unpacking
temp_flat_2A, humidity_flat_2A= flat_2A.temperature_humidity()
print("The temperature of Flat 2A is:", temp_flat_2A, "and the humidity is:",humidity_flat_2A)

New Temperature: 81
New Temperature: 80
New Humidity: 0.35
Color of my walls are: Yellow
The temperature of Flat 2A is: 80 and the humidity is: 0.35

#TASK 2B

In [ ]:
class Building():

  #Constructor
  def __init__(self, given_temp, given_humidity, given_wall_paint):
    self.temp= given_temp
    self.wall_paint= given_wall_paint
    self.humidity= given_humidity

  #Class Method: Setter
  def temperature_increase(self):
    self.temp+=1
    print("New Temperature:", self.temp)

  def temperature_deccrease(self):
    self.temp-=1
    print("New Temperature:", self.temp)

  def humidity_change(self, given_humidity):
    self.humidity= given_humidity
    print("New Humidity:", self.humidity)


  #Class Method: Getter
  def what_color_are_my_walls(self):
    return self.wall_paint
  def temperature_humidity (self):
    return self.temp, self.humidity

#Driver Code
#Declaring Object
#Assigning values to the class variables while declaring objects
flat_2A= Building(80,0.5,"Yellow")
flat_2A.doorknob= True
# flat_2A.temp= 80
# flat_2A.humidity= 0.5
# flat_2A.wall_paint= "Yellow"

#Calling Setter Methods
flat_2A.temperature_increase()
flat_2A.temperature_deccrease()
flat_2A.humidity_change(0.35)

#Calling Getter Methods
print("Color of my walls are:", flat_2A.what_color_are_my_walls())
temp_flat_2A, humidity_flat_2A= flat_2A.temperature_humidity()
print("The temperature of Flat 2A is:", temp_flat_2A, "and the humidity is:",humidity_flat_2A)

New Temperature: 81
New Temperature: 80
New Humidity: 0.35
Color of my walls are: 0.5
The temperature of Flat 2A is: 80 and the humidity is: 0.35

#HOMEWORK TASK 3
Create a Student class keeping the following conditions in mind. You must use a constructor.
<br><br>
Instance Variables: id, name, dept
<br>
Instance Methods: get_id(), get_name(), get_dept(), set_id(new_id), set_name(new_name), set_dept(new_dept)
<br><br>
Driver Code

std_1= Student("Fuad", 2112, "CSE")

print("Student 1's ID:", std_1.get_id())

print("Student 1's Department:", std_1.get_dept())

print("Student 1's Name:", std_1.get_name())

std_1.set_id(2121)

std_1.set_name("Miftahul")

std_1.set_dept("BBA")
<br><br>

std_2= Student("Rabbi", 2169, "CS")

print("Student 2's ID:", std_2.get_id())

print("Student 2's Department:", std_2.get_dept())

print("Student 2's Name:", std_2.get_name())

std_2.set_id(2420)

std_2.set_name("Tasnim")

std_2.set_dept("CSE")
<br><br>
#Output
--------------New Student Enrolled---------------

Name: Fuad, ID: 2112, Department: CSE

Student 1's ID: 2112

Student 1's Department: CSE

Student 1's Name: Fuad

Fuad's ID changed to: 2121

Fuad's Department changed to: BBA

Fuad's Name changed to: Miftahul

--------------New Student Enrolled---------------

Name: Rabbi, ID: 2169, Department: CS

Student 2's ID: 2169

Student 2's Department: CS

Student 2's Name: Rabbi

Fuad's ID changed to: 2420

Fuad's Department changed to: CSE

Fuad's Name changed to: Tasnim

#TASK 4
Implement the design of the Student class so that the following output is produced:

Assume the credit for each course to be 3. For example: [3.3,4] can be calculated as:

CGPA = ((3.3 * 3) + (4 * 3)) / 6

[Here, for each course, the grade point is multiplied by 3. Total credit is the number of courses multiplied by 3. Since the example has 2 courses, therefore a total of 6 credits]

CGPA = sum of individual (grade point * credit) / total credit

Academic Standing Rule: [CGPA>3.80 Highest Distinction, CGPA>3.65 High Distinction, CGPA>3.50 Distinction, CGPA>2.00 Satisfactory, CGPA<2.00 Can’t Graduate]

Output

==========================

Name: Dora, ID: 15995599, Department: CSE

CGPA: 3.85

Your academic standing is 'Highest Distinction'

==========================

==========================

Name: Pingu, ID: 12312322, Department: EEE

CGPA: 1.32

Sorry, you cannot graduate

==========================

==========================

Name: Bob, ID: 13311331, Department: CSE

CGPA: 2.85

Your academic standing is 'Satisfactory'

In [ ]:
class Student():
  def __init__(self,name,id,dept,gpa):
    self.name=name
    self.id=id
    self.dept=dept
    self.gpa=gpa
    self.cgpa=0.0

  def calculate_CGPA(self):
    sum=0
    for i in self.gpa:
      sum+= i
    self.cgpa= sum/len(self.gpa)

  def print_details(self):
    print("Name: ",self.name, "ID: ",self.id, "Department: ",self.dept)
    print("CGPA:",self.cgpa)
    if (self.cgpa>3.80):
      print("Your academic standing is 'Highest Distinction'")
    elif (self.cgpa>3.65):
      print("Your academic standing is 'High Distinction'")
    elif (self.cgpa>3.50):
      print("Your academic standing is 'Distinction'")
    elif (self.cgpa>2.00):
      print("Your academic standing is 'Satisfactory'")
    else:
      print("Sorry, you cannot graduate")

# Write your code here
s1 = Student('Dora', '15995599','CSE', [4,3.7,3.7,4])
s1.calculate_CGPA()
print("==========================")
s1.print_details()
print("==========================")
s2 = Student('Pingu', '12312322', 'EEE', [1.7,1.3,1.3,1.3,1])
s2.calculate_CGPA()
print("==========================")
s2.print_details()
print("==========================")
s3 = Student('Bob', '13311331', 'CSE', [2,3,3,3.7,2.7,2.7])
s3.calculate_CGPA()
print("==========================")
s3.print_details()

==========================
Name:  Dora ID:  15995599 Department:  CSE
CGPA: 3.85
Your academic standing is 'Highest Distinction'
==========================
==========================
Name:  Pingu ID:  12312322 Department:  EEE
CGPA: 1.3199999999999998
Sorry, you cannot graduate
==========================
==========================
Name:  Bob ID:  13311331 Department:  CSE
CGPA: 2.8499999999999996
Your academic standing is 'Satisfactory'

# #HOMEWORK TASK 5
A class has been designed for this question. Solve the questions to get the desired result as shown in the output box.
[You are not allowed to change the code below]

class Wadiya():


      def __init__(self):

          self.name = 'Aladeen'

          self.designation = 'President Prime Minister Admiral General'

          self.num_of_wife = 100

          self.dictator = True


**Write your code for subtask 1, 2, 3 and 4 here**

**Output:**

Part 1:

Name of President: Aladeen

Designation: President Prime Minister Admiral General

Number of wife: 100

Is he/she a dictator: True

Part 2:

Name of President: Donald Trump

Designation: President

Number of wife: 1

Is he/she a dictator: False

**Subtasks:**

1) Create an object named wadiya.

2) Use the object to print the values as shown in part 1 (Also print the sentence Part 1)

3) Use the same object to change and print the values in part 2 (Also print the sentence
Part 2)

4) Did changing the instance variable values using the same object, affect the previous values of Part 1? (Print ‘previous information lost’ or ‘No, changing had no effect on previous value’)

#HOMEWORK TASK 6
Create a class Wadiya with appropriate constructor, class variables and methods so that it generates the following output:

**Output**

======New Person======

Name: Admiral General Aladeen

Net worth: 50000

Wadiyan Oil Sold for 100000!

Net worth: 150000

Dictator: True

======New Person======

Name: General Tamir

Net worth: 200000

Wadiyan Oil Sold for 50000!

Net worth: 250000

Executed: False

======New Person======

Name: Nuclear Researcher Nadal

Net worth: 0

Executed: True

In [ ]:
class Wadiya:
#Your code here
  def __init__(self, n, d, di, wi, net=50000,exec=False):
    print("======New Person======")
    self.name= n
    self.distinction=d
    self.dictatorship= di
    self.wives= wi
    self.net_worth= net
    self.execution_status=exec


  def sell_wadiyan_oil(self, a):
    self.net_worth += a
    print(f"Wadiyan Oil Sold for {a}")

p1= Wadiya("Aladeen", "Admiral General", True, 40) #name, distinction, dictatorship, wives
print("Name:", p1.distinction, p1.name)
print("Net worth:", p1.net_worth)
p1.sell_wadiyan_oil(100000)
print("Net worth:", p1.net_worth)
print("Dictatorship:", p1.dictatorship)

p2= Wadiya("Tamir", "General", False, 21, 200000) #name, distinction, dictatorship, wives, net_worth
print("Name:", p2.distinction, p2.name)
print("Net worth:", p2.net_worth)
p2.sell_wadiyan_oil(50000)
print("Net worth:", p2.net_worth)
print("Executed:", p2.execution_status)

p3= Wadiya("Nadal", "Nuclear Researcher", True, 5000, 0, True) #name, distinction, dictatorship, wives, net_worth, execution_status
print("Name:", p3.distinction, p1.name)
print("Net worth:", p3.net_worth)
print("Executed:",p3.execution_status)

======New Person======
Name: Admiral General Aladeen
Net worth: 50000
Wadiyan Oil Sold for 100000
Net worth: 150000
Dictatorship: True
======New Person======
Name: General Tamir
Net worth: 200000
Wadiyan Oil Sold for 50000
Net worth: 250000
Executed: False
======New Person======
Name: Nuclear Researcher Aladeen
Net worth: 0
Executed: True

#Class Work 2
Complete the following code so that you can generate the following output:

Output

====== New List ======

[5, 7, 1, -4, 0, -6]

Even Numbers: 3 and Odd Numbers: 3

Positive Numbers: 4 and Negative Numbers: 2

====== New List ======

[1,2,3,4]

Even Numbers: 2 and Odd Numbers: 2

Positive Numbers: 4 and Negative Numbers: 0

In [ ]:
class Number:
  def __init__(self,num=[1,2,3,4]):
    self.num=num

  def findEvenOdd(self):
    even=0
    odd=0
    for i in self.num:
      if (i%2==0):
        even+=1
      else:
        odd+=1
    return even, odd

  def findPosNeg(self):
    pos=0
    neg=0
    for i in self.num:
      if (i<0):
        neg+=1
      else:
        pos+=1
    return pos, neg

n1= Number([5,7,1,-4,0,-6])
even, odd= n1.findEvenOdd()
print("Even Numbers:", even, "and Odd Numbers:", odd)
pos, neg= n1.findPosNeg()
print("Positive Numbers:", pos, "and Negative Numbers:", neg)

n2= Number()
even, odd= n2.findEvenOdd()
print("Even Numbers:", even, "and Odd Numbers:", odd)
pos, neg= n2.findPosNeg()
print("Positive Numbers:", pos, "and Negative Numbers:", neg)

Even Numbers: 3 and Odd Numbers: 3
Positive Numbers: 4 and Negative Numbers: 2
Even Numbers: 2 and Odd Numbers: 2
Positive Numbers: 4 and Negative Numbers: 0

#Class Work 3
Trace the following code to find out the outputs and show trace table

In [ ]:
class Ninja:
    def __init__(self):
        self.rank = 0
        self.stamina = 0.0

naruto = Ninja()
yellow_flash = Ninja()
naruto.rank = 1
naruto.stamina = 95.0
print(naruto.rank)
print(naruto.stamina)
yellow_flash.stamina = naruto.stamina - 2
print(yellow_flash.stamina)
yellow_flash.rank += (naruto.rank + 1)
print(yellow_flash.rank)

minato = yellow_flash
print(minato.rank)
print(minato.stamina)
naruto.rank = minato.rank - 1
naruto.stamina = yellow_flash.stamina + 3
print(naruto.rank)
print(naruto.stamina)
naruto.rank = -(-naruto.rank)
yellow_flash.stamina = -(-minato.stamina)
print(naruto.rank)
print(minato.stamina)

1
95.0
93.0
2
2
93.0
1
96.0
1
93.0

Answer the following questions:

1. What is the difference between a function and a method?

2. When to use a constructor?

3. Can instance variables be declared/changed outside the class or in driver code?

4. Are instances/objects mutable or immutable?

Complete the class Employee to make sure the desired outputs are generated

In [ ]:
class Employee:

  def printInfo(self):
    print("Employee Name:", self.name)
    print("Employee Nationality:", self.nationality)
    print("Employee ID:", self.id)

e1= Employee()
e1.name= "Mohammad Ali"
e1.nationality= "African"
e1.id= 1
e2= Employee()
e2.name= "Mike Tyson"
e2.nationality= "American"
e2.id= 2
e1.printInfo()
e2.printInfo()
e2.id= 4
e2.printInfo()

Employee Name: Mohammad Ali
Employee Nationality: African
Employee ID: 1
Employee Name: Mike Tyson
Employee Nationality: American
Employee ID: 2
Employee Name: Mike Tyson
Employee Nationality: American
Employee ID: 4

In [ ]:
class Employee:
  def __init__(self, x, y, z):
    self.n= x
    self.m= y
    self.z= z

  def printInfo(self):
    print(f"Employee Name: {self.n}\nEmployee Nationality: {self.m}\nEmployee ID: {self.z}")

  def changeID(self, id):
    print("Yay! ID changed!")
    self.z= id

e1= Employee("Mohammad Ali", "African", "1")
e2= Employee("Mike Tyson", "American", "2")
e1.printInfo()
e2.printInfo()
e2.changeID(5)
e2.printInfo()

Employee Name: Mohammad Ali
Employee Nationality: African
Employee ID: 1
Employee Name: Mike Tyson
Employee Nationality: American
Employee ID: 2
Yay! ID changed!
Employee Name: Mike Tyson
Employee Nationality: American
Employee ID: 5

In [ ]:
class Student:
  def printInfo(self):
    print("Name:", self.name)
    print("ID:", self.id)

s1= Student()
s1.name= "Voltbar"
s1.id= 121

s2= Student()
s2.name= "Elfbar"
s2.id= 122

s1.printInfo()
# s2.printInfo()

# Trying to access instance variables without initialization
s3= Student()
s3.name="Random"
s3.id=000
# s3.printInfo()

# Trying to change instance variables using the instance
s1.name= "Nitro"
# s1.printInfo()

#Trying to assign an instance into another instance (pass by reference)
s4= s1
s4.printInfo()
s4.id= 619
s4.printInfo()
s1.printInfo()

Name: Voltbar
ID: 121
Name: Nitro
ID: 121
Name: Nitro
ID: 619
Name: Nitro
ID: 619

In [ ]:
class Student:
  pass
  def __init__(self, name, id):
    self.name= name
    self.id= id

  def printInfo(self):
    print("Name:", self.name)
    print("ID:", self.id)


s1= Student("Voltbar", 121)
s2= Student("Elfbar", 122)
s1.printInfo()
s2.printInfo()

Name: Voltbar
ID: 121
Name: Elfbar
ID: 122

In [ ]:
class Pets:
  def __init__(self, name, species, sound):
    self.name= name
    self.species= species
    self.sound=sound
    print("Yay! New Pet")
    self.printInfo()

  def changeInfo(self, newName, newSpecies):
    self.name= newName
    self.species= newSpecies

  def printInfo(self):
    print(f"Name: {self.name}\nSpecies: {self.species}\nSound: {self.makeSound()}")

  def makeSound(self):
    return f"{self.sound}"

p1= Pets("Samea", "Chihuahua", "Woof Woof")
p2= Pets("Faiga", "Hedgehog", "Oh yeaaaaah")
p1.changeInfo("Rappha","Chameleon")
p2.species= p1.species
p1.name= "Jumuwah"
p1.printInfo()
p2.printInfo()

Yay! New Pet
Name: Samea
Species: Chihuahua
Sound: Woof Woof
Yay! New Pet
Name: Faiga
Species: Hedgehog
Sound: Oh yeaaaaah
Name: Jumuwah
Species: Chameleon
Sound: Woof Woof
Name: Faiga
Species: Chameleon
Sound: Oh yeaaaaah

In [ ]:
class Hobbies:
  def __init__(self,name,hobbies):
    self.name= name
    self.hobbies= hobbies

  def printHobbies(self):
    print(f"{self.name} likes to do:")
    for i in self.hobbies:
      print(i)

  def addHobby(self,newHobby):
    print(f"New hobby added for {self.name}!")
    self.hobbies.append(newHobby)

h1= Hobbies("Saddick", ["Gaming", "Netflixing", "Chilling"])
h2= Hobbies("Firehose", ["Scoring", "Grinding", "Rolling"])
h3= Hobbies("Sheeshmum", ["Gambling", "Plumbing"])
h1.addHobby("Squatting")
h1.printHobbies()
h2.printHobbies()
h3.printHobbies()
h2=h3
h2.name="Sinthetic"
h3.printHobbies()

New hobby added for Saddick!
Saddick likes to do:
Gaming
Netflixing
Chilling
Squatting
Firehose likes to do:
Scoring
Grinding
Rolling
Sheeshmum likes to do:
Gambling
Plumbing
Sinthetic likes to do:
Gambling
Plumbing

In [ ]:
class Drinks:
  def __init__(self, name, legal):
    self.name= name
    self.legal= legal

  def printDetails(self):
    print(f"Drink Name: {self.name}\nLegal or not: {self.legal}")

  def changeLegality(self):
    if self.legal==True:
      self.legal= False
    else:
      self.legal= True

d1= Drinks("Ice Tea", True)
d1.printDetails()
print("====1====")
d2= Drinks("Rice Wine", d1.legal)
d2.printDetails()
print("====2====")
d2.changeLegality()
d2.printDetails()
d2.changeLegality()
d2.printDetails()

Drink Name: Ice Tea
Legal or not: True
====1====
Drink Name: Rice Wine
Legal or not: True
====2====
Drink Name: Rice Wine
Legal or not: False
Drink Name: Rice Wine
Legal or not: True

In [ ]:
class GamerGirl:
  def __init__(self, name, games):
    self.name= name
    self.games= games
    print("New gamer in town!")

  def addGames(self, newgame, hours):
    self.games[newgame]= hours
    print(f"{newgame} added to the games for {self.name}")

  def updateHours(self, game, newHours):
    self.games[game]= newHours

  def getGames(self):
    return self.games

g1= GamerGirl("Sumaiya",{"GTA V": 50, "Minecraft": 100})
g2= GamerGirl("Ivona",{"Valorant": 100})
g3= GamerGirl("Jenisa",{"PUBG": 80})
g2= g3
g3.name= g2.name
g2.addGames("CyberPunk", 20)
g2.updateHours("PUBG", 120)
print(f"{g1.name} game data: \n{g1.getGames()}")
print(f"{g2.name} game data: \n{g2.games}")
print(f"{g3.name} game data: \n{g3.getGames()}")

New gamer in town!
New gamer in town!
New gamer in town!
CyberPunk added to the games for Jenisa
Sumaiya game data:
{'GTA V': 50, 'Minecraft': 100}
Jenisa game data:
{'PUBG': 120, 'CyberPunk': 20}
Jenisa game data:
{'PUBG': 120, 'CyberPunk': 20}

#Class Work 1
Complete the following code so that you can generate the following output:

=======New Dog Brought!=======

Breed: German Shepherd, Age: 0.5, Color: White

=======New Dog Brought!=======

Breed: Golden Retriever, Age: 2, Color: Yellow

Breed: Golden Retriever, Age: 1, Color: White

Golden Retriever 1 year(s) old

In [ ]:
class Dog:
  def __init__(self,breed,age,color):
    self.breed=breed
    self.age=age
    self.color=color
    print("=======New Dog Brought!=======")

  def change_info(self,*info):
    if(len(info)==3):
      self.breed=info[0]
      self.age=info[1]
      self.color= info[2]
    if(len(info)==2):
      # self.breed= "Golden Retriever"
      self.age=info[0]
      self.color= info[1]

  def print_info(self):
    print("Breed:", self.breed, ", Age:", self.age, ", Color:", self.color)


d1= Dog("Bulldog", 1, "Black") #Breed,age,color
d1.age= 1.5
d1.change_info("German Shepherd", 0.5, "White")
d1.print_info()

d2= Dog("Golden Retriever", 2, "Yellow") #Breed,age,color
d2.print_info()
d2.change_info(1, "White") #Age, color
d2.print_info()

d2.age=d1.age
print(d2.breed, "is", d2.age, "year(s) old.")

=======New Dog Brought!=======
Breed: German Shepherd , Age: 0.5 , Color: White
=======New Dog Brought!=======
Breed: Golden Retriever , Age: 2 , Color: Yellow
Breed: Golden Retriever , Age: 1 , Color: White
Golden Retriever is 0.5 year(s) old.

In [ ]:
class DataType:
  def __init__(self, x, y):
    self.name= x
    self.value= y

data_type1 = DataType("Integer", 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType("String", "Hello")
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

In [ ]:
class Flower:
  pass

flower1 = Flower()
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4

In [ ]:
class Joker:
  def __init__(self, a, b, c):
    self.name= a
    self.power= b
    self.is_he_psycho=c

j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
 print('same')
else:
 print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
 print('same')
else:
 print('different')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same

In [ ]:
class Pokemon:
  def __init__(self,a, b, c, d, e):
    self.pokemon1_name= a
    self.pokemon2_name= b
    self.pokemon1_power= c
    self.pokemon2_power= d
    self.damage_rate= e

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name,
team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name,
team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power +  team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

team_bulb= Pokemon("bulbasaur", "squirtle", 80, 70,  9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name,
team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name,
team_bulb.pokemon2_power)
pika_combined_power = (team_bulb.pokemon1_power +  team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
class Player:
  pass

player1 = Player()
player1.name = "Ronaldo"
player1.jersy_number = 9
player1.position = "Striker"
print("Name of the Player:", player1.name)
print("Jersey Number of player:", player1.jersy_number)
print("Position of player:", player1.position)
print("===========================")
player2 = Player()
player2.name = "Neuer"
player2.jersy_number = 1
player2.position = "Goal Keeper"
print("Name of the player:", player2.name)
print("Jersey Number of player:", player2.jersy_number)
print("Position of player:", player2.position)

Name of the Player: Ronaldo
Jersey Number of player: 9
Position of player: Striker
===========================
Name of the player: Neuer
Jersey Number of player: 1
Position of player: Goal Keeper

In [ ]:
class Country:
  def __init__(self):
    self.name= "Bangladesh"
    self.continent= "Asia"
    self.capital= "Dhaka"
    self.fifa_ranking= 187

country = Country()
print('Name:', country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = "Belgium"
country.continent = "Europe"
country.capital = "Brussels"
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [ ]:
def mA(x=100):
  print(x)

mA(50)
mA()

50
100

In [ ]:
def mA(q, w=100,*x): #
  print(x)

# mA(50)
mA(20,10,5,True,7.7,9)
# mA()

(5, True, 7.7, 9)